<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @friend.user.name %>
</p>

<p>
  <strong>Friend:</strong>
  <%= @friend.friend.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @friend.status %>
</p>

<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
