<ul>
<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %> </li>
  </span> 

  <%# create_class = User.new%>
  <% if user != current_user %>
  <%= form_for current_user.friends.build do |f| %>
  <%= f.hidden_field :user_id%>
  <%= f.hidden_field :friend_id , value: user.id%>
  <%= f.submit "Add" %>
  <%#= create_class.reverse_add_friends(current_user , user).inspect %>
  <% end %>
<% end %>
  

</ul>